
<div class="main-container">
    <div class="header-container">
        <h1 class="header">
            Сейчас в базе данных <span class="user-count"> {{users().length}} </span> пользователей
        </h1>
        <button nz-button nzShape="round" [routerLink]="['/users/new']"> Добавить пользователя </button>

    </div>

    <nz-table class="user-table"  #basicTable [nzData]="filteredUsers()" [nzLoading]="loading()" [nzPageSize]="10" nzBordered>
        <thead class="table-head">
            <tr class="table-head">

                <th>ID</th>

                <th  nzCustomFilter>
                    Имя
                    <nz-filter-trigger [(nzVisible)]="visibleNameFilter" [nzActive]="nameSearchValue.length > 0" [nzDropdownMenu]="nameMenu">
                        <nz-icon nzType="search" />
                    </nz-filter-trigger>

                </th>

                <th> Username</th>

                <th  nzCustomFilter>
                    Email
                    <nz-filter-trigger [(nzVisible)]="visibleEmailFilter" [nzActive]="emailSearchValue.length > 0" [nzDropdownMenu]="emailMenu">
                        <nz-icon nzType="search" />
                    </nz-filter-trigger>
                </th>

                <th nzWidth="1%" > Действия</th>

            </tr>
        </thead>
        <tbody>
            @for (user of basicTable.data; track user.id) {
                <tr [class.modified-row] = "isModified(user.id)" (click) = "openUserInfo(user.id)">
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td class="table-action">
                        <button nz-button nzType="primary" nzShape="circle" nzDanger  class="delete-user button" (click) = "deleteUser(user.id); $event.stopPropagation()" >
                            <nz-icon nzType="delete" nzTheme="outline" />
                        </button>

                        <a nz-button nzType="primary" nzShape="circle" class="edit-user button" [routerLink]="['/users', user.id, 'edit']" (click)="$event.stopPropagation()">
                            <nz-icon nzType="edit" nzTheme="outline" />
                        </a>

                        <a  [routerLink]="['/users', user.id]" (click)="$event.stopPropagation()"> Обзор </a>


                    </td>
                </tr>
            }
        </tbody>


    </nz-table>

    <nz-dropdown-menu #nameMenu="nzDropdownMenu">
        <div class="ant-table-filter-dropdown">
            <div class="search-box">
                <input type="text" nz-input placeholder="Алексей" [(ngModel)]="nameSearchValue" />
                <div class="button-box">
                    <button nz-button nzSize="small" nzType="primary" (click)="filteredUsers()" class="search-button">Найти</button>
                    <button nz-button nzSize="small" (click)="resetNameFilter()">Сбросить</button>
                </div>
            </div>
        </div>
    </nz-dropdown-menu>

    <nz-dropdown-menu #emailMenu="nzDropdownMenu">
        <div class="ant-table-filter-dropdown">
            <div class="search-box">
                <input type="email" nz-input placeholder="ru@mail.ru" [(ngModel)]="emailSearchValue" />
                <div class="button-box">
                    <button nz-button nzSize="small" nzType="primary" (click)="filteredUsers()" class="search-button">Найти</button>
                    <button nz-button nzSize="small" (click)="resetEmailFilter()">Сбросить</button>
                </div>
            </div>
        </div>
    </nz-dropdown-menu>
</div>

